#tituloPrincipal{
  background:rgb(70, 64, 57);
  width:100%;
  height: 100px;
  background-size:cover ;
  padding-top: 1PX;
  text-align:right;
  margin-bottom: 5PX;
  
  
}
.titulo1{
font-size: 90px;
color: rgb(245, 245, 245);
text-align: center;
margin-bottom: 2PX;
display: flex;
justify-content: center;
}
body{
  background: rgb(249, 239, 239);
  margin: 0;
  

}
.menu{
  margin: 0;
  padding: 0;
  height: 50px;
  background: rgb(110, 84, 43);
  padding-top: 2px;
  
  
  
  
  
  
  
}
.menu a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  margin-left: 120px;
  margin-top: 20px;
  

}
.menu ul{
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  display:flex;
  list-style-type: none;
  font-size: 20px;
  position: fixed;
  text-transform: uppercase;
  background: rgb(110, 84, 43);
  padding-top: 17px;
  padding-right:100%;
  padding-bottom: 15px;
  
  
}
.categorias a{
  text-decoration: none;
  font-family: sans-serif;
  
  
}
.paragrafo{
  margin-top: 10px;
  font-size: 20px;
}
 
.menu a:hover{
  background: rgba(0, 0, 0, 0.9);
  
}
.imge{
  height: 100px;
  width: 50%;
  
}
#rodape {
  height: 80px;
  background: rgb(110, 84, 43);
}
#rodape {
  height: 90px;
  background: rgb(110, 84, 43);
  display:flex;
  
  padding-top: 30px;
  color: aliceblue;

}
.email{ 
  margin-right: 300px;
}
.numero{
  margin-left: 300px;
}
.carousel-inner{
  background-size: cover;
  width: 100%;
  height: 400px;
  font-size: 300px;
  color: aquamarine;
  display: flex;
}

